.c{
    background-color:  #41228e;
    }
    nav{
        background-color:  #41228e;
    }
    *{
        font-family: sans-serif;
    }
    .tt{
        color: #ff26;
    }
    b{
        background-color: rgb(58, 146, 58);
    }
    body{
        background-color:  #41228e;
    }
    .pad{
      background-color: #d87f1f;
    }